<!DOCTYPE html>
<html ng-app="module" ng-controller="controller" lang="en">
<head>
    <title>Music Transfer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="res/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-sanitize.min.js"></script>
    <script type="module" src="src/controller.js"></script>
</head>
<body class="d-flex flex-column align-items-center m-4">

<header class="text-center">
    <h1 class="fs-1 fw-bold">
        Music Transfer
    </h1>
    <h2 class="fs-5 fw-light text-decoration-underline">
        Transfer saved playlists, tracks, albums, and artists across streaming platforms!
    </h2>
</header>

<main class="w-100 d-flex flex-column gap-4 my-4" style="max-width: 1200px">
    <div class="d-flex flex-column flex-md-row gap-1 gap-md-3 align-items-md-center">
        <label for="source" class="text-nowrap">
            <span class="fw-bolder">1.</span> Select your <span class="text-emphasize">source</span> service:
        </label>
        <select id="source"
                class="w-100 small"
                style="padding: 2px 6px"
                ng-model="choices.source"
                ng-init="update('source')"
                ng-change="update('source')"
                ng-options="service.name for service in services">
            <option value="" disabled>Select an option...</option>
        </select>
    </div>

    <div class="d-flex flex-column flex-md-row gap-1 gap-md-3 align-items-md-center" ng-if="choices.source.token">
        <label for="target" class="text-nowrap">
            <span class="fw-bolder">2.</span> Select your <span class="text-emphasize">target</span> service:
        </label>
        <select id="target"
                class="w-100 small"
                style="padding: 2px 6px"
                ng-model="choices.target"
                ng-init="update('target')"
                ng-change="update('target')"
                ng-options="service.name disable when service === choices.source for service in services">
            <option value="" disabled>Select an option...</option>
        </select>
    </div>

    <div class="d-flex flex-column gap-2" ng-if="choices.target.token">
        <label for="group">
            <span class="fw-bolder">3.</span> Select the <span class="text-emphasize">group</span> you want to transfer:
        </label>
        <select id="group"
                class="w-100 small"
                style="padding: 2px 6px"
                ng-model="choices.group"
                ng-change="choices.group.selected = true"
                ng-options="group as group.title for group in choices.source.groups">
        </select>
        <div class="row buttons">
            <button type="button"
                    class="col text-decoration-underline ms-3"
                    ng-disabled="!choices.group.ready"
                    ng-click="selection(true)">
                Select All
            </button>
            <button type="button"
                    class="col text-decoration-underline mx-2"
                    ng-disabled="!choices.group.ready"
                    ng-click="selection(false)">
                Deselect All
            </button>
            <button type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    class="col text-decoration-underline text-capitalize me-3"
                    ng-disabled="!choices.group.ready"
                    ng-click="transfer()">
                {{choices.group.ready ? "Transfer" : choices.group.items.length + "/" + choices.group.length}}
            </button>
        </div>
        <div class="d-grid small items">
            <div ng-repeat="item in choices.group.items"
                 class="d-flex flex-xl-row align-items-center gap-2 mx-3 my-1"
                 ng-class="{'flex-md-row-reverse': $odd}">
                <input type="checkbox" id="{{key}}-{{item.id}}" ng-model="item.selected"/>
                <label for="{{key}}-{{item.id}}"
                       class="text-xl-start {{item.selected ? 'fw-bold' : 'text-decoration-line-through'}}"
                       ng-class="{'text-md-end': $odd}">
                    {{item.name}}
                </label>
            </div>
        </div>
    </div>

    <div id="modal"
         class="modal fade"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         aria-labelledby="label"
         aria-hidden="true"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h5" id="label">
                        {{choices.source.id}} {{transferring.animation}} {{choices.target.id}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between" ng-repeat="transfer in choices.transfers">
                        <span class="fw-bold">{{transfer.name}}</span>
                        <span class="fst-italic">
                            {{transfer.ready ? "Transfer Completed!" : (
                                transfer.transferred ?
                                "Transferring " + transfer.transferred + "/" + transfer.length :
                                "Fetching " + transfer.items.length + "/" + transfer.length
                            )}}
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" ng-disabled="transferring.ongoing">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="error" class="alert alert-danger" role="alert">{{error}}, please try again...</div>
</main>

<div ng-repeat="(name, item) in choices">
</div>

</body>
</html>