@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");

:root {
    --foreground: #4F200D;
    --emphasis: #DD7A00;
    --items: #FAD691;
    --background: #F6F1E9;
    --font-size: 16px;
    --columns: 1;

    @media (min-width: 768px) {
        --font-size: 18px;
        --columns: 2;
    }

    @media (min-width: 1200px) {
        --font-size: 20px;
        --columns: 3;
    }
}

html, body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size);
    color: var(--foreground);
    background: var(--background);
    scrollbar-color: var(--foreground) rgba(255, 255, 255, 0.6);
}

input[type=checkbox] {
    min-width: calc(1.4 * var(--font-size));
    max-width: calc(1.4 * var(--font-size));
    min-height: calc(1.4 * var(--font-size));
    max-height: calc(1.4 * var(--font-size));
    accent-color: var(--emphasis);
}

select {
    background: var(--background) !important;
}

button {
    background: var(--items);
    border: calc(0.07 * var(--font-size)) solid var(--foreground);
    border-radius: 5px;
}

.buttons > button {
    font-weight: 600;
    font-size: calc(0.7 * var(--font-size));
    min-height: 35px;
    padding: 5px 0;
}

.items {
    grid-template-columns: repeat(var(--columns), 1fr);
}

.text-emphasize {
    color: var(--emphasis);
    font-weight: bold;
}
