@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");

:root {
    --dark: #4F200D;
    --medium: #DD7A00;
    --light: #F6F1E9;
    --font-size: 16px;

    @media (min-width: 786px) {
        --font-size: 20px;
    }
}

html, body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size);
    color: var(--dark);
    background: var(--light);
    scrollbar-color: var(--dark) rgba(255, 255, 255, 0.6);
}

.text-emphasize {
    font-weight: 600;
    color: var(--medium);
}

